
<!--NavBar-->
<app-navbar class="nav-bar"></app-navbar>
<div class="content">
    
    <div class="container">
        <div class="jumbotron">
            <h1>{{activeAirline.name}}</h1>
        </div>
    </div>

    <h3>Available Tickets:</h3>
    <app-airlinetickets></app-airlinetickets>

    <div *ngIf="isAdmin">
        <p>---------------------------------------------------------------</p>
        <h3>ADMIN PANEL</h3>
        <p>---------------------------------------------------------------</p>
        <button class="btn btn-danger" (click)="remove()" >Delete Airline</button>
        <p>---------------------------------------------------------------</p>
        <app-editairline></app-editairline>
        <p>---------------------------------------------------------------</p>
        <app-newairline></app-newairline>
        <p>---------------------------------------------------------------</p>
    </div>
</div>
