<div class="content">
    <h5>Edit Airline:</h5>
    <div class="login-container">
        <form [formGroup]="editAirlineForm" (ngSubmit)="submitForm(editAirlineForm.value)">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input disabled type="text" [(ngModel)]="airline.id" class="form-control" formControlName="id">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" [(ngModel)]="airline.name" class="form-control" placeholder="Enter Airline Name" formControlName="name">
                    <div class="text-danger error-message" *ngIf="name.errors?.required"> Name is required! </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!editAirlineForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>