<!--NavBar-->
<app-navbar class="nav-bar"></app-navbar>
<div class="content">
    <h3>Edit ticket:</h3>
    <div class="login-container">
        <form [formGroup]="editForm" (ngSubmit)="submitForm(editForm.value)">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input disabled type="text" [(ngModel)]="ticket.id" class="form-control" formControlName="id">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <!--<input disabled type="text" [(ngModel)]="ticket.airline.name" class="form-control" formControlName="airline">-->
                    <select [(ngModel)]="curAirline.name" class="form-control" formControlName="airline" class="browser-default custom-select">
                        <option *ngFor="let airline of airlines" [ng-value]="airline" [selected]="airline.name == curAirline.name">
                            {{airline.name}}
                        </option>
                    </select>
                    <div class="text-danger error-message" *ngIf="airline.errors?.required"> Airline is required! </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="radio" id="owt" [value]="true" [(ngModel)]="ticket.oneWay" class="form-control" formControlName="oneWay">
                    <label for="owt">One Way Ticket</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="radio" id="rt" [value]="false" [(ngModel)]="ticket.oneWay" class="form-control" formControlName="oneWay">
                    <label for="rt">Return Ticket</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="date" [(ngModel)]="ticket.departOn" class="form-control" placeholder="Enter departure date:" formControlName="departOn">
                    <div class="text-danger error-message" *ngIf="departOn.errors?.required"> Departure date is required! </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="date" [(ngModel)]="ticket.returnOn" class="form-control" placeholder="Enter return date:" formControlName="returnOn">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="number" [(ngModel)]="ticket.count" class="form-control" placeholder="Enter ticket count:" formControlName="count">
                    <div class="text-danger error-message" *ngIf="count.errors?.required"> Count is required! </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>
                    <button type="submit" class="btn btn-danger" routerLink="">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
